<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-lg-4 col-12">
    <h1 id="m_title">FRONT-END
      <br> SKILL TREE</h1>
    <div class="purple_text">等級</div>
    <div class='rank_title'>
      <span>{{rankLevel}}</span>
    </div>
    <div class="rank_img">
      <img src="../img/img-ship-beginner.png" alt="">
    </div>
  </div>


  <div class="col-lg-5 col-12">
    <div class="row">
      <div class="col-md-3 col-12 arrow">
        <img src="../img/img-planet-basics.png" alt="Basic Skill">
      </div>
      <div class="offset-md-1 col-md-8 col-12">
        <div class="row">

            <div class="col-md-4 col-3 m_skill_block" *ngFor="let item of basicArray">
                <div class="icon" [class.noChoice]='item.noChoice'
                [class.canChoice]='item.canChoice' [class.edChoice]='item.edChoice'
                [class.fullChoice]='item.fullChoice' (click)='showSkill($event.target,item.svgName)'  [title]='item.name'>
                    <i class="material-icons" [title]='item.name'>
                        {{item.svgName}}
                        </i>
                </div>
                <div class="point">{{item.nowPoint}} / {{item.preSkill.length}}</div>
              </div>

          <div class="col-12 blank"> &nbsp;</div>
        </div>
      </div>
    </div>

    <div class="row" [class.noChoice]="advancedSkill">
      <div class="col-md-3 col-12 arrow">
        <img src="../img/img-planet-css.png" alt="">
      </div>
      <div class="offset-md-1 col-md-8 col-12">
        <div class="row">

            <div class="col-md-4 col-3 m_skill_block" *ngFor="let item of cssArray">
                <div class="icon"
                [class.canChoice]='item.canChoice' [class.edChoice]='item.edChoice'
                [class.fullChoice]='item.fullChoice' (click)='showSkill($event.target)'  [title]='item.name'>
                    <i class="material-icons" [title]='item.name'>
                        {{item.svgName}}
                        </i>
                </div>
                <div class="point">{{item.nowPoint}} / {{item.preSkill.length}}</div>
              </div>

          <div class="col-12 blank">&nbsp; </div>
        </div>
      </div>
    </div>

    <div class="row" [class.noChoice]="advancedSkill">
      <div class="col-md-3 col-12 arrow">
        <img src="../img/img-planet-js.png" alt="">
      </div>
      <div class="offset-md-1 col-md-8 col-12">
        <div class="row">

            <div class="col-md-4 col-3 m_skill_block" *ngFor="let item of javascriptArray">
                <div class="icon"
                [class.canChoice]='item.canChoice' [class.edChoice]='item.edChoice'
                [class.fullChoice]='item.fullChoice' (click)='showSkill($event.target)'  [title]='item.name'>
                    <i class="material-icons" [title]='item.name'>
                        {{item.svgName}}
                        </i>
                </div>
                <div class="point">{{item.nowPoint}} / {{item.preSkill.length}}</div>
              </div>

          <div class="col-12 blank">&nbsp; </div>
        </div>
      </div>
    </div>

    <div class="row" [class.noChoice]="advancedSkill">
      <div class="col-md-3 col-12 arrow">
        <img src="../img/img-planet-managers.png" alt="">
      </div>
      <div class="offset-md-1 col-md-8 col-12">
        <div class="row">

            <div class="col-md-4 col-3 m_skill_block" *ngFor="let item of managersArray">
                <div class="icon"
                [class.canChoice]='item.canChoice' [class.edChoice]='item.edChoice'
                [class.fullChoice]='item.fullChoice' (click)='showSkill($event.target)'  [title]='item.name'>
                    <i class="material-icons" [title]='item.name'>
                        {{item.svgName}}
                        </i>
                </div>
                <div class="point">{{item.nowPoint}} / {{item.preSkill.length}}</div>
              </div>

          <div class="col-12 blank"> &nbsp;</div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-12">
    <div class="row skill_detail">
      <div class="col-12 icon">
        <div class="row">
          <div class="col-12">
              <i class="material-icons">
                  {{nowSvgName}}
                  </i>
          </div>
          <div class="col-12">
              <span>{{nowSkill}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 item">
        <a tabindex="0" class="btn btn-lg btn-purple" [class.edChoice]='true' role="button" data-toggle="popover"
        data-trigger="hover"
        data-placement="bottom"
        title="基礎 HTML"
        data-content="了解語法結構、知道html5結構、知道10個html元素(a、h1、span、img)...">
          基礎 HTML
        </a>
        <a tabindex="0" class="btn btn-lg btn-purple noChoice" role="button" data-toggle="popover"
        data-trigger="hover"
        data-placement="bottom"
        title="基礎 CSS"
        data-content="知道display的不同(flex、grid、block)，會換色修改大小">
          基礎 CSS
        </a>
        <a tabindex="0" class="btn btn-lg btn-purple" role="button" data-toggle="popover"
        data-trigger="hover"
        data-placement="bottom"
        title="基礎 JavaScript"
        data-content="了解語法結構、知道DOM(抓取元件、修改值)">
          基礎 JavaScript
        </a>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>
